<p>Prezado cliente, escolha abaixo o seu prato.</p>

<table>
  <thead>
    <tr>
      <th>Prato</th>
      <th>Restaurante</th>
      <th>Valor</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  <% Product.all.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.restaurant.name %></td>
      <td><%= product.value %></td>
      <td><%= button_to 'pedir', '/orders', method: :post, params: { product_id: product.id } %></td>
    </tr>
  <% end %>
  </tbody>
</table>